:root {
    --black: #000000;
    --neutral: #F9F9F9;
    --dark-neutral: #2d2a2a;
    --text_white: #F9F9F9;
    --text_black: #000000;
    --accent_1: #C30606;
    --accent_1_darker: #750303;
    --accent_2: #a70b0b;
    --accent_3: #007AC0;
}
