@import "./colors.css";

body {
    background-color: var(--dark-neutral);
    padding: 64px 0px;
    width: 600px;
    margin: auto;
}

h1,
h2,
h3 {
    color: var(--text_white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p, li {
    color: var(--text_white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: justify;
    line-height: 1.5em;
}

img {
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 16px #00000060;
    background-color: whitesmoke;
    border: 4px solid whitesmoke;
    max-width: 600px;
}

p img {
    float: right;
    margin: 10px 0px 0px 10px;
}

p img.left {
    float: left;
    margin: 10px 10px 0px 0px;
}
